{% if grains.vendor|lower == 'arista' -%}
event-handler dhclient
   trigger on-boot
   action bash sudo /mnt/flash/initialize_ma1.sh
!
transceiver qsfp default-mode 4x10G
!
logging trap {{ pillar.logLevel }}
logging monitor debugging
{% for server in pillar.logServers -%}
logging host {{ server }}
{% endfor -%}
!
hostname {{ pillar.hostname }}

{% for server in pillar.dnsServers -%}
ip name-server vrf default {{ server }}
{% endfor -%}
ip domain-name {{ pillar.hostname|replace('-','_') }}.tm
!
{% for server in pillar.ntpServers -%}
ntp server {{ server }} version 4 source Management1
{% endfor -%}
!
spanning-tree mode mstp
!
aaa authorization exec default local
!
aaa root secret sha512 $6$msDdbJg6DTaVxlLr$5ZpAEbxwI7WbhEjERvXGSbAQjhQvHkycwcGbLtHiVGf2KflGQHAwPB2uD9pCczyx/Su.kxXGoCdBabtHslTWw.
!
username admin privilege 15 role network-admin secret sha512 $6$L5GnRPuNPklYT/mJ$pMhCM3Jc/iKYB6yESiDmWAAfWcZ9VeYL/OepLRRwA40oEPs.FskXN8wgEt9RN8TPl4yptaJrAA1M9nDQQKz0y0
username vagrant privilege 15 role network-admin secret sha512 $6$bqHCHaLI2K3p3a7w$OiDb3OWQ.JLVtwfXnVpsF.kB11H61jMEbLl.ojPxu3aFsJUX3O5Yu8gMbjsg.bMMtZZePJa/PIKsAuwTDYMhe.
!
{% for ifName, ifDetails in pillar.openconfig_interfaces.interfaces.interface.items() -%}
interface {{ ifName }}
  mtu {{ ifDetails.config.mtu }}
  description {{ ifDetails.config.description }}
  {% if 'Ethernet' in ifName -%}
    no switchport
    {% endif -%}
  {% if ifDetails.config.enabled == true -%}
    no shutdown
  {% elif ifDetails.config.enabled == false -%}
    shutdown
  {% endif -%}
  {% set subIf = ifDetails.subinterfaces.subinterfaces -%}
  {% for subId, subDetails in subIf.items() -%}
    {#% if subId != '0' -%}
      interface {{ ifName }}.{{ subId }}
      {% endif -%#}
    {% set subIfAddr = subDetails.ipv4.addresses.address -%}
    {% for _, addr in subIfAddr.items() -%}
      ip address {{ addr.config.ip }}/{{ addr.config.prefix_lenght }}
      {% endfor -%}
    {% endfor -%}
{% endfor -%}
!
interface Management1
   ip address 10.0.2.15/24
!
{#% set routeOutput = salt.route.show('0.0.0.0/0', 'static') -%}
{% set defaultRoutes = routeOutput['out'] -%}
{% if not defaultRoutes -%#}
  ip route vrf default 0.0.0.0/0 {{ pillar.nextHopP }}
  ip route vrf default 0.0.0.0/0 {{ pillar.nextHopB }} 5
  {#% endif -%#}
!
ip routing
!
{% for bgpGlobal in pillar.openconfig_bgp.bgp.global.values() -%}
  router bgp {{ bgpGlobal.as }}
  router-id {{ bgpGlobal.router_id }}

  {% endfor -%}
  {% for bgpNeighb, neighOpts in pillar.openconfig_bgp.bgp.neighbors.items() -%}
    neighbor {{ bgpNeighb }} remote-as {{ neighOpts.config.peer_as }}
    neighbor {{ bgpNeighb }} password {{ neighOpts.config.auth_password }}
    neighbor {{ bgpNeighb }} soft-reconfiguration inbound all
    {% if neighOpts.config.enabled == false -%}
      neighbor {{ bgpNeighb }} shutdown
      {% endif -%}
    {% if neighOpts.graceful_restart.config.enabled == true -%}
      neighbor {{ bgpNeighb }} graceful-restart
      {% endif -%}
    {% if 'route_reflector' in neighOpts %}
    {% set rr = neighOpts.route_reflector.config -%}
    bgp cluster-id {{ rr.route_reflector_cluster_id}}
    neighbor {{ rr.route_reflector_client }} route-reflector-client
    {% endif -%}
    {% for afi, afiOpts in neighOpts.afi_safis.afi_safi_name.items() -%}
      {% set prfxLimit = afiOpts.ipv4_unicast.prefix_limit -%}
      neighbor {{ bgpNeighb }} maximum-routes {{ prfxLimit.config.max_prefixes }} warning-only
      {% endfor -%}
    {% if 'leaf' in pillar.hostname -%}
      redistribute connected
      {% endif -%}
{% endfor -%}
!
exit
!
router ospf 10
   network 10.255.255.0/24 area 0.0.0.0
   max-lsa 12000
!
management api http-commands
   no shutdown
!
end
{% endif -%}
