{% if grains.vendor|lower == 'arista' -%}
  {% for server in servers -%}
  ntp server {{ server }} version 4 source Management1
  {# ntp server {{ pillar['ntpServers'] }} version 4 source Management1 #}
  {# ntp server {{ salt.pillar.get('ntpServers') }} version 4 source Management1 #}
  {% endfor -%}
{% endif -%}
